# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv/
env/
venv/

# Celery
celerybeat-schedule*
*.pid

# Database
*.sqlite3
*.db

# IDE
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage